.slider {
    display: flex;
    /* position: relative; */
    flex-wrap: nowrap;
    flex-direction: row;
    height: 100px;
}

.slide {
    background-color: red;
    /* width: 50%; */
    flex-shrink: 0;
}

.slider-container {
    overflow: hidden;
    position: relative;
}

.slider-container .prev-button, .slider-container .next-button {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    font-size: 40px;
    color: black;
}

.slider-container .next-button {
    left: 100%;
    transform: translate(-100%, -50%);
}

.slider-container-transition {
	transition: transform 0.7s ease-in-out;
}

.slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}